body {
    background-image: url("Imgur\ Album\ \ Miniscule\ Wallpaper\ Gifs\ Dump/9 - vOjd94y.gif");
    background-size: cover;
    font-family: "Courier New", sans-serif;

}
*{
    padding: 1px;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior:smooth;
}









