body {
background-color: rgb(123, 210, 149);
margin: 20px;
font-size: 30px;
}

p {
    color: rgb(150, 179, 233);
    background-color:rgb(239, 240, 232);
    padding: 30px;
    margin: 30px;
}

li {
    color: rgb(255, 122, 231);
}

ol {
    background-color:honeydew;
}


    .introduction{
        background-color: cornsilk;
        border: 60px dashed rgb(235, 149, 83);   
    }
