body {
    background-image: url("image/airplane-travel.gif");
    background-size: cover;
    background-attachment: fixed;
  background-position: center;
   
}
img {
    border-radius: 50%;
    
}
  
  