body {
    background-color: rgb(77, 101, 77);
    margin: 20px;
    font-size: 30;
    }

    .img-travel{
        width: 300px;
    }
    body{
        background-image: ;
    }
    
    h1 {
        color:rgb(34, 56, 38)
    }
   
